/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #80dfff;
  font-family: "Arial Black"; }

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #655643;
  font-size: 25px;
  line-height: 37.5px;
  padding-bottom: 12.5px;
  padding-bottom: 8px;
  font-size: 2rem; }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 50px;
      line-height: 75px; } }
  @media only screen and (min-width: 900px) {
    h1 {
      font-size: 75px;
      line-height: 100px; } }

h2 {
  padding-bottom: 16px;
  font-size: 16px;
  flex-wrap: wrap; }

.container {
  align-content: center;
  display: block;
  flex: 1 1 100%; }

img {
  border: 3px solid #B378D3;
  max-width: 50%; }

p {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100; }
  @media only screen and (min-width: 600px) {
    p {
      font-size: 15px;
      line-height: 20px; } }
  @media only screen and (min-width: 900px) {
    p {
      font-size: 20px;
      line-height: 25px; } }
